.app {
  display: block;
}
.main {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  background-color: grey;
}
.homestays {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.peta {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  background-color: steelblue;
}
